<a href="https://colab.research.google.com/github/Nathiskar/ML_Study/blob/main/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print function

In [4]:
print("Hello World!")

Hello World!

In [6]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [7]:
print("Machine Learning","Projects")

Machine Learning Projects

In [8]:
print(12)

12

In [9]:
print(12+9)

21

#Basic Data Types:
1. int
2. float
3. str

In [10]:
type(12)

int

In [11]:
type("Nathiskar")

str

In [12]:
type(1.2)

float

#Constants & variables

In [13]:
superHero = "Nathiskar"

In [14]:
print(superHero)

Nathiskar

In [15]:
hero1, hero2, hero3 = "Nathiskar", "Pirawin", "Tonado"

In [16]:
print(hero1)

Nathiskar

In [17]:
print(hero2)

Pirawin

In [18]:
print(hero3)

Tonado

In [19]:
x = y = z = 21

In [20]:
print(x)

21

In [21]:
print(y)

21

In [22]:
print(z)

21

#input Function

In [28]:
number_1 = int(input("Enter a number: "))
number_2 = int(input("Enter a number: "))

sum = number_1 + number_2
print("sum of number_1 and number_2:",sum)

Enter a number: 12
Enter a number: 3
sum of number_1 and number_2: 15

In [29]:
#changing the data type in python
num = 5
type(num)

int

In [33]:
print(float(num))

5.0

#Basic Data Type in Python
1. Integer
2. Floating Point
3. Comple
4. Boolean
5. String

In [35]:
#integer
a = 12
print(a)

12

In [36]:
type(a)

int

In [37]:
#floating point
b = 1.2

In [38]:
type(b)

float

In [39]:
#complex number
c = 1 + 3j
print(c)

(1+3j)

In [40]:
type(c)

complex

conversion of one data type to another

In [41]:
#integer to float
x = 10
print(x)
type(x)

10

int

In [42]:
y = float(x)
print(y)
type(y)

10.0

float

In [43]:
#float to int
x = 5.2
print(x)
type(x)

5.2

float

In [44]:
y = int(x)
print(y)
type(y)

5

int

Boolean

In [45]:
a = True

In [46]:
print(a)

True

In [47]:
type(a)

bool

In [48]:
a = 7 < 3

In [49]:
print(a)
type(a)

False

bool

String

In [50]:
 print("Machine Learning")

Machine Learning

In [53]:
print("Nathis " * 12)

Nathis Nathis Nathis Nathis Nathis Nathis Nathis Nathis Nathis Nathis Nathis Nathis

In [54]:
my_string = "Programming"
print(my_string[1:5])

rogr

In [55]:
print(my_string[:6])

Progra

In [56]:
#step
print(my_string[0:10:2])

Pormi

String Concatenation

In [57]:
word_1 = 'Machine'
word_2 = 'Learning'

print(word_1 + " " + word_2)

Machine Learning

# List Tuple Set Dictionary

Types of Objects in Python
  1. Immutable Objects
  2. Mutable Objects

Immutable Objects
  1. int
  2. flaot
  3. string
  4. bool
  5. tuple

Mutable Objects
   1. List
   2. Set
   3. Dictonary

List

In [58]:
# list should be included in the square brackets
my_list = [1, 2, 3, 4, 5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [59]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are MUtable -> changeable

In [60]:
#add elements to a list
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [61]:
# prnt elements of a list using their index
print(my_list[0])
print(my_list[1])

2
3

In [62]:
#list allow duplicate values
list_1 = [1, 2, 3 ,4 ,1 ,2]
print(list_1)

[1, 2, 3, 4, 1, 2]

In [63]:
print(len(list_1))

6

In [64]:
#initialing an empty list
list_2 = []
print(list_2)

[]

In [65]:
list_2.append(12)

In [66]:
print(list_2)

[12]

In [67]:
#delete an element from empty list
list_2 = [2, 3, 1.8, 'English', True]
print(list_2)

[2, 3, 1.8, 'English', True]

In [69]:
del list_2[2]
print(list_2)

[2, 3, 'English', True]

In [70]:
#join 2 list
list_3 = [1, 2, 3, 4, 5]
list_4 = [6, 7, 8, 9, 10]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [71]:
tuple_1 = (2, 3, 4, 5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [72]:
# tuple allows multiple data types
tuple_2 = (1, 2,3 ,4, 'Machine learning', False)
print(tuple_2)

(1, 2, 3, 4, 'Machine learning', False)

In [73]:
#converting a list to a tuple
my_list = [3, 4, 5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [74]:
print(my_tuple[0])

3

Tuple are unmutable --> Unchangable

In [77]:
#my_tuple.append(6)

In [76]:
print(len(my_tuple))

4

Set

In [79]:
#set ---> curvely bracket
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [80]:
type(my_set)

set

In [82]:
#print(my_set[0]) set do not indexing

In [84]:
# convert list to a set
list_5 = [4,5,6,7,8,9,10,11,12]
x = set(list_5)
print(x)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [85]:
# set does not allow duplaicate values
set_3 = {1,2,3,4,2,4,5}

In [86]:
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

Key-Value Pair

In [87]:
my_dic = {'name':'David', 'age':'25', 'country':'India' }
print(my_dic)
type(my_dic)

{'name': 'David', 'age': '25', 'country': 'India'}

dict

In [88]:
print(my_dic['name'])
print(my_dic['age'])
print(my_dic['country'])

David
25
India

In [89]:
# dictionary does not allow duplicate values
my_dic = {'name':'David', 'age':'25', 'country':'India', 'name':'David', 'age':'25', 'country':'India' }

In [90]:
print(my_dic)

{'name': 'David', 'age': '25', 'country': 'India'}